body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.5;
}

/* Customised BootStrap class */
.container-fluid {
  padding: 0 15%;
}

/* Navigation Bar */

.a-navbar-brand {
  color: red;
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 20px;
}

.div-navbar-collapse {
  margin-right: 20px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

#nav-navbar {
  margin-bottom: 50px;
}

/* Title */

.a-title-format {
  color: #fff;
  text-decoration: none;
}

.btn-download {
  margin: 5% 3% 5% 0;
}

.div-title {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.div-img-phone {
  text-align: center;
}

.div-title-buttons {
  text-align: left;
}

.h1-title {
  text-align: left;
}

.img-sqlitedevstudio-logo {
  width: 80px;
}

.img-phone {
  padding: 0 10px;
  transform: rotate(25deg);
  width: 60%;
}

.p-title {
  padding-top: 50px;
}

#title {
  background-color: rgb(181, 178, 178);
}

@media (max-width: 1000px) { /* when width of screen drops below 1000px do the following */
  .img-phone {
    position: static;
    transform: rotate(0);
  }

  .div-title-buttons {
    text-align: center;
  }

  .h1-title {
    text-align: center;
  }

  .p-title {
    text-align: center;
  }
}

/* Content */

.p-content-left-align {
  margin-left: 50px;
  text-align: left;
}

.ul-content {
  list-style-position: inside;
}

#content {
  margin: 0 15%;
  text-align: center;
}

/* Gallery */

/* Change color of prev/next icon by changing the fill property e.g. 'fill=%23' plus color hex number '9a9c9b' */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239a9c9b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239a9c9b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.h2-gallery {
  margin: 0 auto;
  width: 60%
}

.img-gallery {
  width: 60%;
}

.img-testimonials {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#gallery {
  padding: 2% 15%;
  text-align: center;
}

/* Pricing */

.a-card-format {
  text-decoration: none;
}

.div-card {
  margin: 4% 0;
}

.p-card {
  margin-bottom: 5px;
}

#pricing {
  background-color: rgb(181, 178, 178);
  margin: 0 0 4% 0;
  padding: 4% 15%;
  text-align: center;
}

/* Footer */

.btn-footer {
  margin: 2% 1%;
}

#footer {
  background-color: rgb(181, 178, 178);
  text-align: center;
}

#p-footer-copyright {
  margin: 0;
  padding-bottom: 1%;
}
